.App {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.Containter {
  background-image: url(img/school_desk.jpg);
  width: 1540px;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: top;
  padding: 30px;
}
.TableLeft, .TableCenter, .TableRight {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.TableLeft {
  padding-left: 70px;
}
.TableRight {
  padding-right: 70px;
}
.KeyBindings {
  width: 300px;
  height: 368px;
  transform: rotate(-12deg);
}
.VolumeBindings {
  width: 200px;
  height: 201px;
  transform: rotate(5deg);
}


.Disquette {
  width: 200px;
  height: 200px;
}
.BB {
  margin-top: 50px;
  transform: rotate(11deg);
  cursor: pointer;
}
.BH {
  margin-top: 50px;
  transform: rotate(2deg);
  cursor: pointer;
}