.App {
  display: flex;
  justify-content: center;
  background-color: #000000;
  background-image: url(img/school_desk.jpg);
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;
}
.KeyBindings {
  width: 300px;
  height: 368px;
  position: absolute;
  top: 60px;
  left: 60px;
  transform: rotate(-12deg);
}

@font-face {
  font-family: MK-90; 
  src: url(19355.ttf); 
 }

.Screen {
  color: white;
  font-family: MK-90;
  font-size: 10px;
  opacity: .9;
  margin: 0;
}
.Sample {
  line-height: 1.2;
}
.Library {
  line-height: 1.2;
}
.Disquette {
  width: 200px;
  height: 200px;
}
.BB {
  position: absolute;
  top: 60px;
  right: 100px;
  transform: rotate(11deg);
  cursor: pointer;
}
.BH {
  position: absolute;
  top: 310px;
  right: 100px;
  transform: rotate(2deg);
  cursor: pointer;

}